* {
  box-sizing: border-box; /* определяет высоту элемента включая паддинги, рамки, марджины... */
}

body {
  font-family: "PT Sans", sans-serif; /* основной шрифт страницы. весь контент набран им, поэтому прописываем его в тело страницы, чтобы все элементы сайта изначально разворачивались с этим шрифтом */
  margin: 0; /* выставляем марджины у тела чтобы растянуть верхний блок шапки во всю ширину страницы */
  color: #31405b;
}

.bg-inner {
  background-color: #f2f8f6;
}

.container {
  width: 1170px; /* задаём ширину контейнера */
  margin-left: auto; /* центрируем контейнер согласно блочной структуре, задаём автоматические отступы по внешним границам данного блока слевой и правой сторон */
  margin-right: auto;
}

.container::after {
  /* создаём псевдоэлемент after для очистки границ обёртывания */
  content: "";
  display: table;
  clear: both;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.float-left {
  /* данный класс создан для строгого утилитарного утверждения флоата, что поспособствует поменять местами текст и картинку */
  float: left !important;
}

.float-right {
  /* данный класс создан для строгого утилитарного утверждения флоата, что поспособствует поменять местами текст и картинку */
  float: right !important;
}

.title-medium {
  margin: 0;
  margin-bottom: 25px;
  font-size: 28px;
  font-weight: 700;
}

.title-micro {
  margin: 0;
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: 700;
}

.button {
  background: #0ac883;
  padding-left: 40px;
  padding-right: 40px;

  padding-top: 10px;
  padding-bottom: 10px;

  display: inline-block; /* с помощью инлайн-блока задаём кнопке систематическую функцию блочной структуры */
  border-radius: 50px; /* задаём закругление углов кнопки */
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5; /* устанавливаем высоту строки в размер самого текста, чтобы отступы накладывались равномерно и смещали текст в самый цетр блока */
  transition: background-color 0.2s ease-in; /* меняет стилизацию изменения кнопки при наведении на нее за указанное время */
  cursor: pointer;
  border: none;
}

.button:hover {
  background-color: #2552b3; /* задаёт цвет кнопки при наведении на нее */
}

.button:active {
  background-color: #5679c4;
}

.button:focus {
  outline: none;
  box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
}

.button-contacts {
  padding-left: 30px;
  padding-right: 30px;
}

/* ----------------------------------------- HEADER ----------------------------------------- */

.header {
  background-color: #1a4f27; /* Подложка, присущая для отображения текста при непрогрузке картинки */
  color: #ffffff; /* Прописываем цвет текста для всего контента шапки */
  position: relative; /* задаём позицию родителя, чтобы блок с контентом шапки размещался относительно шапки, а не всего тела */
  background-image: url("../img/header-bg.jpg"); /* Картинка на заднем фоне */
  background-repeat: no-repeat; /* Если картинка начала дублироваться, нужно прописать это свойство, после чего она равномерно вытянется по размеру заданного блока */
  background-position: center; /* выравнивание картинки по центру блока */
  background-size: cover; /* рвстягиваем картинку по всему пространству блока */
  width: 100%; /* Ширина заданного блока */
  height: 800px; /* высота заданного блока */
  padding-top: 45px; /* задаём меньший общий отступ от верхнего края шапки для всего содержимого контента и последующих блоков */
}

.logo {
  float: left; /* выравнивание блока по левой вертикальной границе */
  width: 270px; /* ширина блока */
  font-family: "Lobster", cursive;
  font-size: 40px;
}

.logo-link {
  text-decoration: none;
  color: #ffffff;
}

.logo-link:hover {
  color: aquamarine;
  transition: color 0.2s;
}

.navigation {
  float: right; /* выравнивание блока по правой вертикальной границе */
  width: 870px; /* ширина блока */
  padding-top: 15px; /* задаём отступ, чтобы выровнять с макетом текст навигационных ссылок */
  text-align: right; /* выравниваем весь текст по правому краю чтобы не нарушать структуру */
  font-size: 22px;
  font-weight: 400;
  color: #ffffff; /* параметр для самого текста внутри блока навигации (не касается ссылок) */
}

.navigation-link {
  /* стилизуем сами ссылки */
  display: inline-block; /* оборачиваем ссылки навигации в инлайн-блок для того, чтобы задать им расстояние между друг другом и не нарушить блоковую структуру */
  margin-right: 50px; /* задаём правый отступ от внешних границ каждого блока */
  color: #ffffff; /* выставляем цвет текста ссылок */
  text-decoration: none; /* убираем декорации текста (подчёркивания ссылок) */
  transition: color 0.2s;
}

.navigation-link:hover {
  color: aquamarine;
}

.navigation-link:last-child {
  /* Создаём псевдоэлемент последнего элемента и задаём марджин 0 для того, чтобы последний элемент строки выровнялся по краю, заданному в мвкете. */
  margin-right: 0;
}

.header-content {
  /* стилизуем контейнер с контентом шапки */
  width: 1170px;
  position: absolute; /* задаём контенту шапки позицию абсолютную, чтобы он размещался по указанным параметрам относительно шапки, с возможностью растянуться и дополниться текстом */
  top: 50%; /* выставляем вертикальную границу */
  left: 50%; /* выставляем горизонтальную границу, за счёт чего блок будет расположен левым верхним углом ровно по центру шапки */
  transform: translate(-50%,-50%); /* трансформация блока : перемещеие блока. За счёт системы координат мы смещаем блок относительно его начальной позиции (заданной командами top и left) */
  text-align: center; /* задаём выравнивание текста по центру для текста всего блока */
}

.header-title {
  /* стилизуем верхний центральный заголовок */
  margin: 0; /* задаём марджин для обнуления автоматически заданной высоты присвоенной заголовку */
  margin-bottom: 25px; /* задаём нижний отступ чтобы выровнять заголовки по размерам макета учитывая лайн-хайт */
  font-size: 60px;
  font-weight: 700;
}

.header-subtitle {
  /* стилизуем нижний центральный заголовок */
  font-size: 24px;
  font-weight: 400;
}

.header-scroll {
  /* позиционируем блок со скроллом аналогично блоку с контентом шапки, только относительно границ, к которым блок находится ближе на макете (низ) */
  position: absolute;
  left: 50%;
  bottom: 50px; /* 50 пикселей от низа шапки по макету */
  transform: translate(-50%,0); /* перемещение по х и у. по х смещаем влево на 50% ширины блока. по у не меняем ничего, поскольку указана точная высота до нижней границы шапки. */
  text-align: center;
}

.header-scroll-text {
  /* стилизуем текст скролла */
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px; /* задаём отступ вниз от текста до картинки учитывая лайн-хайт строки */
}

/* ----------------------------------------- // HEADER ----------------------------------------- */

/* -----------------------------------------  HEADER INNER ----------------------------------------- */

.header-inner {
  padding-top: 25px;
  padding-bottom: 25px;
  background-image: url("../img/header-inner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* ----------------------------------------- // HEADER INNER ----------------------------------------- */

/* -----------------------------------------  SECTION CONTENT ----------------------------------------- */

.content-section {
  /* стилизуем основную секцию с контентом, задаём общие паддинги, чтобы при наполнении или удалении частей контента оставались строгие отступы снизу и сверху */
  padding-top: 120px;
  padding-bottom: 120px;
}

.content-row {
  margin-bottom: 120px;
}

.content-row:last-child {
  margin-bottom: 0;
}

.content-row::after {
  content: "";
  display: table;
  clear: both;
}

.content-discription {
  /* выравниваем текст по левому краю */
  width: 470px;
}

.content-img {
  /* выравниваем картинку по правому краю ряда */
  width: 570px;
}

.content-title {
  font-size: 54px;
  font-weight: 700;
  color: #31405b;
  margin-top: 0;
  margin-bottom: 25px;
}

.content-text {
  margin-bottom: 40px;
}

.content-text p {
  font-size: 20px;
  color: #31405b;
  line-height: 1.6; /* лайн-хайт по макету 32 пикселя. высота строки 20 пикселей. если 32 разделить на 20 = мы получим пропорциональную величиниу, при которой изменение шрифта будет проводиться с учётом высоты строки, то есть учитывая параметр 1.6 */
}

.content-text a {
  color: #138ece; /* задаём цвет ссылок по макету */
}

/* ----------------------------------------- // SECTION CONTENT ----------------------------------------- */

/* ----------------------------------------- SECTION CONTENT INNER ----------------------------------------- */

.section-content-inner {
  padding-top: 70px;
  padding-bottom: 120px;
}

/* ----------------------------------------- // SECTION CONTENT INNER ----------------------------------------- */

/* ----------------------------------------- CONTACTS ----------------------------------------- */

  .contacts-address {
    float: left;
    width: 470px;
  }

  .contacts-form {
    float: right;
    width: 630px;
  }

  .contacts-list {
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
    padding-left: 70px;
    list-style-type: none;
    line-height: 1.6;
    font-size: 20px;
  }

  .contacts-list-item {
    position: relative;
    margin-bottom: 10px;
  }

  .contacts-list-item::before {
    position: absolute;
    content: "";
    width: 24px;
    height: 24px;
    top: 4px;
    left: -48px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  .contacts-list-icon-phone::before {
    background-image: url("../img/icons/phone-solid.svg");
  }

  .contacts-list-icon-email::before {
    background-image: url("../img/icons/envelope-solid.svg");
  }

  .contacts-list-icon-address::before {
    background-image: url("../img/icons/map-marker-alt-solid.svg");
  }

  .map-holder {
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
  }

  .map-holder img {
    display: block;
  }

/* ----------------------------------------- // CONTACTS ----------------------------------------- */

/* ----------------------------------------- FORM ----------------------------------------- */

  .formgroup {
    margin-bottom: 30px;
  }

  .form {
    padding: 40px;

    background-color: #fff;
    box-shadow: 0px 10px 20px 0px rgba(211, 211, 211, 1);
    border-radius: 2px;
  }

  .input {
    padding-left: 20px;
    width: 100%;
    height: 50px;
    margin-bottom: 10px;

    background-color: #eeeeee;
    border: 1px solid #c0c0c0;
    border-radius: 6px;

    font-size: 20px;
    font-family: "PT Sans", sans-serif;
    color: #31405b;
  }

  .input::placeholder {
    color: rgba(49, 64, 91, 0.5);
  }

  .input:focus {
    outline: none;
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
  }

  .input-inline {
    float: left;
    margin-right: 10px;
    width: calc(50% - 5px);
  }

  .input-inline:last-child {
    margin-right: 0;
  }

  .label-radio {
    display: block;
    margin-bottom: 15px;
    font-size: 20px;
    cursor: pointer;
  }

  .custom-radio{
    position: relative;
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    margin-top: -3px;
    vertical-align: middle;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 50%;
    cursor: pointer;
  }

  .custom-radio::before {
    content: "";
    position: absolute;

    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: block;
    border-radius: 50%;
    width: 12px;
    height: 12px;
    background-color: #2ab698;

    display: none;
  }

  .real-radio {
    width: 0;
    height: 0;
    position: absolute;
  }
  
  .real-radio:checked + .custom-radio::before {
    display: block;
  }

  .real-radio:focus + .custom-radio {
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
  }

  .label-checkbox {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
  }

  .custom-checkbox {
    position: relative;
    display: inline-block;
    margin-right: 15px;
    width: 20px;
    height: 20px;
    background-color: rgb(238, 238, 238);
    border: 1px solid rgb(192, 192, 192);
    border-radius: 2px;
    cursor: pointer;
  }

  .custom-checkbox::before {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    content: "";
    display: block;
    width: 15px;
    height: 12px;

    background-image: url(../img/icons/check-solid.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    display: none;
  }

  .real-checkbox:checked + .custom-checkbox::before {
    display: block;
  }

  .real-checkbox {
    width: 0;
    height: 0;
    position: absolute;
  }

  .real-checkbox:focus + .custom-checkbox {
    border: 2px solid #0ac883;
    box-shadow: 0px 0px 10px 0 rgba(51, 148, 112, 0.5);
  }

/* ----------------------------------------- // FORM ----------------------------------------- */

/* ----------------------------------------- TOURS CONTENT ----------------------------------------- */

  .tours-link {
    text-decoration: none;
    color: #fff;
  }

  .tours-link:hover {
    text-decoration: underline;
  }

  .travel {
    display: block;
  }

  .title-tours {
    text-align: center;
    margin-bottom: 70px;
  }

  .tours-medium {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    margin: 0;
  }

  .photo-row {
    margin-bottom: 30px;
  }

  .photo-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .free {
    float: left;
  }

  .extreme {
    float: right;
  }

  .free-title {
    background-color: #a6a6a6;
  }

  .extreme-title {
    background-color: #c1b19b;
  }

  .content-adventures {
    float: left;
  }

  .wrapper::after {
    content: "";
    display: table;
    clear: both;
  }

  .adventures-title {
    background-color: #66b0be;
    margin-bottom: 30px;
  }

  .hiking-title {
    background-color: #876f56;
  }

  .jungle {
    float: right;
  }

  .jungle-title {
    background-color: #27695e;
  }

/* ----------------------------------------- // TOURS CONTENT ----------------------------------------- */

/* ----------------------------------------- ARTICLE ----------------------------------------- */

  .article-left {
    float: left;
    width: 270px;
  }

  .article-right {
    padding-bottom: 0;
    float: right;
    width: 770px;
  }

  .title-medium-2{
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: 28px;
    font-weight: 700;
  }

  .article-left a {
    display: block;
    margin: 0px;
    color: #319cd3;
    text-decoration: none;
    transition: color 0.2s;

    font-size: 20px;
    font-weight: 700;
    line-height: 1.3;

    padding: 10px 0px 10px 0;
  }

  .article-link:hover {
    color: #e26564;
  }

  .content-text p {
    margin: 0;
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 1.6;
    color: #31405b;
  }

  p:last-child {
    margin-bottom: 0;
  }






























/* ----------------------------------------- // ARTICLE ----------------------------------------- */

/* ----------------------------------------- FOOTER ----------------------------------------- */

.footer {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 100px;
  background-color: #265847;
  color: #ffffff;
}

.footer-left {
  width: 270px;
  float: left;
}

.footer-right {
  max-width: 870px;
  float: right;
}

.footer-right::after {
  content: "";
  display: table;
  clear: both;
}

.footer-logo {
  font-family: "Lobster", cursive;
  font-size: 40px;
  margin-bottom: 20px;
}

.footer-about {
  font-size: 16px;
  line-height: 1.625;
}

.footer-col {
  float: left;
  margin-right: 30px;
}

.footer-col-info {
  width: 200px;
}

.footer-col-info-services {
  width: 240px;
}

.footer-col-info-contacts {
  width: 200px;
}

.footer-col:last-child {
  margin-right: 0;
}

.footer-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-list {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  font-size: 18px;
}

.footer-list-item {
  margin-bottom: 10px;
}

.footer-list-link {
  text-decoration: none;
  color: #ffffff;
}

.footer-list-link:hover {
  text-decoration: underline;
}

/* ----------------------------------------- // FOOTER ----------------------------------------- */
